"*":
  "atom-ide-ui":
    "atom-ide-terminal":
      rendererType: "dom"
    use: {}
  core:
    disabledPackages: [
      "linter"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ubuntu mono"
    showIndentGuide: true
  "exception-reporting":
    userId: "c1143b80-85be-b6ff-c35d-d6887b91c881"
  "linter-ui-default": {}
  script:
    cwdBehavior: "Project directory of the script"
  "tree-view": {}
  welcome:
    showOnStartup: false
